.auth{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  padding: 30px;
  display: flex;
  border: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.155);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  .errors{
    color: red;
  }
  a{
    color:white;
    margin:5px 0;
  }
}